In [81]:
import numpy as np
import pandas as pd
import json

In [82]:
np.random.seed(7)

### Create a sample

In [83]:
yelp_reviews=pd.read_csv("review_data.csv")

In [84]:
yelp_reviews.head(5)

,business_id,state,city,categories,review_count,category,cuisine,review_id,user_id,stars,useful,funny,cool,text,date
0,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,gRmiezddJOJpE2BrtvEGEQ,MGr8SVevx0kOoNUayx4STw,4.0,0,0,0,Great basics. Beans are made right. Tortillas ...,2013-03-24 05:34:59
1,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,CZEhIaxYGjOjGsqEQ31g_Q,mUsOaUUWRHN9eWUd3tjwag,3.0,0,1,0,Automatic star awarded for having a salsa bar ...,2010-12-03 21:16:34
2,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,KHu4YThiCE48L1azPqiPDA,DIaW2YAZ5-io7UGKnwF9tA,5.0,0,0,0,Got the #7 Enchilada and Burrito great food an...,2014-10-01 15:18:13
3,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,Anvmp37r5oeB2NmipFlr0Q,-swTLI5xzaCLxhf5ZqGfsg,4.0,0,0,0,good food for the price. I like their new loca...,2013-02-06 01:06:04
4,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,9H3Zk2jVGP60ccdE0Eouag,XObVh8__kgp1imtsNyLezQ,4.0,1,0,0,One of the better breakfast burritos I have ha...,2011-05-12 16:21:40

In [85]:
# yelp_reviews['year'] = pd.DatetimeIndex(yelp_reviews['date']).year

In [86]:
yelp_reviews['useful'].value_counts()

0      674712
1      253419
2      106077
3       49876
4       26278
        ...
113         1
202         1
141         1
213         1
578         1
Name: useful, Length: 203, dtype: int64

In [87]:
yelp_reviews['length'] = yelp_reviews['text'].map(len)

In [88]:
yelp_reviews['length'].value_counts()

129     2471
125     2468
145     2451
137     2450
156     2450
        ...
4431       1
3830       1
4858       1
3833       1
3803       1
Name: length, Length: 4667, dtype: int64

In [89]:
yelp_reviews = yelp_reviews[(yelp_reviews.useful!= 2) & (yelp_reviews.useful!= 3) & (yelp_reviews.useful!= 4)]
yelp_reviews["labels"] = yelp_reviews["useful"].apply(lambda x: 1 if x >= 5 else 0)
# reviews=reviews[reviews.stars!=3]
yelp_reviews.head()

,business_id,state,city,categories,review_count,category,cuisine,review_id,user_id,stars,useful,funny,cool,text,date,length,labels
0,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,gRmiezddJOJpE2BrtvEGEQ,MGr8SVevx0kOoNUayx4STw,4.0,0,0,0,Great basics. Beans are made right. Tortillas ...,2013-03-24 05:34:59,278,0
1,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,CZEhIaxYGjOjGsqEQ31g_Q,mUsOaUUWRHN9eWUd3tjwag,3.0,0,1,0,Automatic star awarded for having a salsa bar ...,2010-12-03 21:16:34,229,0
2,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,KHu4YThiCE48L1azPqiPDA,DIaW2YAZ5-io7UGKnwF9tA,5.0,0,0,0,Got the #7 Enchilada and Burrito great food an...,2014-10-01 15:18:13,133,0
3,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,Anvmp37r5oeB2NmipFlr0Q,-swTLI5xzaCLxhf5ZqGfsg,4.0,0,0,0,good food for the price. I like their new loca...,2013-02-06 01:06:04,277,0
4,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,9H3Zk2jVGP60ccdE0Eouag,XObVh8__kgp1imtsNyLezQ,4.0,1,0,0,One of the better breakfast burritos I have ha...,2011-05-12 16:21:40,215,0

In [90]:
yelp_reviews['labels'].value_counts()

0    928131
1     51343
Name: labels, dtype: int64

In [91]:
business_cnt = pd.DataFrame(yelp_reviews.groupby('business_id')['business_id'].count())

In [92]:
business_cnt.columns = ['business_cnt']

In [93]:
business_cnt.reset_index()

                 business_id  business_cnt
0     --FnvijzY20d1nk9H7fk9w             9
1     -01XupAWZEXbdNbxNg5mEg           110
2     -092wE7j5HZOogMLAh40zA            75
3     -0Sgh0QlUKVsWosCWJzGqQ            46
4     -0WegMt6Cy966qlDKhu6jA           108
...                      ...           ...
9456  zxVw9U56heInhfyprhkxIg            12
9457  zy6Hzao6lTmuJMZo4BemIg            46
9458  zyAwesOPcP9I-I5Arw8_QA            16
9459  zzsU528uoRB6qZUGhKDa6w             4
9460  zzwicjPC9g246MK2M1ZFBA            64

[9461 rows x 2 columns]

In [94]:
yelp_reviews = pd.merge(yelp_reviews, business_cnt, on = 'business_id', how = 'inner')

In [95]:
yelp_reviews.head(5)

,business_id,state,city,categories,review_count,category,cuisine,review_id,user_id,stars,useful,funny,cool,text,date,length,labels,business_cnt
0,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,gRmiezddJOJpE2BrtvEGEQ,MGr8SVevx0kOoNUayx4STw,4.0,0,0,0,Great basics. Beans are made right. Tortillas ...,2013-03-24 05:34:59,278,0,9
1,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,CZEhIaxYGjOjGsqEQ31g_Q,mUsOaUUWRHN9eWUd3tjwag,3.0,0,1,0,Automatic star awarded for having a salsa bar ...,2010-12-03 21:16:34,229,0,9
2,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,KHu4YThiCE48L1azPqiPDA,DIaW2YAZ5-io7UGKnwF9tA,5.0,0,0,0,Got the #7 Enchilada and Burrito great food an...,2014-10-01 15:18:13,133,0,9
3,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,Anvmp37r5oeB2NmipFlr0Q,-swTLI5xzaCLxhf5ZqGfsg,4.0,0,0,0,good food for the price. I like their new loca...,2013-02-06 01:06:04,277,0,9
4,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,9H3Zk2jVGP60ccdE0Eouag,XObVh8__kgp1imtsNyLezQ,4.0,1,0,0,One of the better breakfast burritos I have ha...,2011-05-12 16:21:40,215,0,9

In [96]:
# yelp_reviews[yelp_reviews['year'] == 2019]['cuisine'].value_counts()

In [97]:
# yelp_sample = yelp_reviews[yelp_reviews['year'] == 2019]
yelp_reviews = yelp_reviews.groupby('labels').apply(lambda s: s.sample(20000))
yelp_sample = yelp_reviews

In [98]:
# yelp_sample[yelp_sample['year'] == 2019]['cuisine'].value_counts()

In [99]:
yelp_sample.labels[1]

295600    1
545366    1
91605     1
703750    1
803705    1
         ..
203029    1
458345    1
718013    1
507366    1
4103      1
Name: labels, Length: 20000, dtype: int64

In [100]:
cuisine_type = pd.get_dummies(yelp_sample["cuisine"])

In [101]:
cuisine_type.head(5)

               American  Asian  Mexican
labels
0      177133         1      0        0
       422193         1      0        0
       308057         1      0        0
       319067         0      1        0
       906303         1      0        0

In [102]:
yelp_sample = yelp_sample.join(cuisine_type)

In [103]:
yelp_sample.shape

(40000, 21)

In [104]:
yelp_sample.columns

Index(['business_id', 'state', 'city', 'categories', 'review_count',
       'category', 'cuisine', 'review_id', 'user_id', 'stars', 'useful',
       'funny', 'cool', 'text', 'date', 'length', 'labels', 'business_cnt',
       'American', 'Asian', 'Mexican'],
      dtype='object')

In [105]:
yelp_sample.to_csv('./review_sample_1.csv',index=False, header=True)

In [106]:
yelp_sample.head()

                          business_id state     city  \
labels
0      177133  hIgGkG1JnHX4xmVuOgegDw    AZ    Tempe
       422193  qQP2bCj8H8ddp9QG-zRZ-w    AZ  Phoenix
       308057  flE7Sn2JGs0n3SAtaep6Zw    AZ  Phoenix
       319067  PlTdQdCWu2_hjbSuenB3pg    AZ  Phoenix
       906303  v8QuF4YX9Bb-qEtKLVPrmA    AZ    Tempe

                                                      categories  \
labels
0      177133  Restaurants, Sandwiches, Cheesesteaks, Food, D...
       422193  Event Planning & Services, Caterers, Restauran...
       308057  Restaurants, Nightlife, American (Traditional)...
       319067                            Restaurants, Vietnamese
       906303  Bars, Chicken Wings, Restaurants, Sports Bars,...

               review_count       category   cuisine               review_id  \
labels
0      177133           516     Sandwiches  American  IlPefxI7zZo1OFz_Sevlew
       422193           153       Barbeque  American  B__K3bYpKoIjpHcTpzNM8A
       308057           769       American  American  JpH_G9cSyOV-5T8Mnwn9yA
       319067           565     Vietnamese     Asian  fSUnHDnfpFFb5E60jE523w
       906303           304  Chicken Wings  American  WVieV_A4WYvesCXlTC9rZA

                              user_id  stars  ...  funny  cool  \
labels                                        ...
0      177133  w0pA_3W2rJVLj9ensvpUeg    5.0  ...      0     0
       422193  wPmO2BCg73G2UjRSkjQjTA    2.0  ...      0     0
       308057  K2tK3VYPGpsg7UQfOxmHXQ    5.0  ...      0     1
       319067  UMZ7mvHirc-zOYaREFNjNA    4.0  ...      0     0
       906303  xwdnRuA6Oi10l2NY-NzZjg    2.0  ...      0     0

                                                            text  \
labels
0      177133  My husband says this spot has the best origina...
       422193  Food is just okay, not great. Meat is dry and ...
       308057  The Vig is a kick ass bar in Central Phoenix a...
       319067  This place is sooo yummy especially their maca...
       906303  Came in at 8pm got seated got our drinks took ...

                              date length  labels  business_cnt  American  \
labels
0      177133  2011-05-08 01:26:03    220       0           458         1
       422193  2019-03-28 22:07:40    165       0           131         1
       308057  2011-10-24 23:24:15   1462       0           633         1
       319067  2018-12-24 03:58:22    192       0           503         0
       906303  2019-09-19 05:49:02    930       0           258         1

               Asian  Mexican
labels
0      177133      0        0
       422193      0        0
       308057      0        0
       319067      1        0
       906303      0        0

[5 rows x 21 columns]